@font-face {
    font-family: "Chhatrish";
    src: url("https://cdn.jsdelivr.net/gh/iif-dev/chhatrish-font/fonts/Chhatrish-Regular.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/iif-dev/chhatrish-font/fonts/Chhatrish-Regular.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/iif-dev/chhatrish-font/fonts/Chhatrish-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}